<!doctype html>
<html>

    <head>
        <link rel="stylesheet" type= "text/css" href ="static/stylesheet.css"/>
        
    </head>

    <h1><img class='horse' src="static/images/Blog.jpg" alt="Blog spelled in letters"/></h1>
    <title class="help">Build a Blog</title>
            
<body>

    <div class ="loggedin">
        {% if 'name' in session %}
        <p class='nauth'>Welcome {{session['name']}} you are logged in! </p>
        {% endif %}
    </div>
    <div>
        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category, message in messages %}
        <li class="{{category}}">{{message}}</li>
        {% endfor %}
    </ul>
    </div>

    {% endwith %}

    <nav>
        <a href='/'><button class='help'>Home</button></a>  
        <a href = '/blog'><button class='help'>All Blogz</button></a>
        {% if not session %}
        <a href = '/login'><button class='help'>Log In</button></a>
        {% endif %}
        {% if session %} 
        <a href = '/newpost'><button class='help'>New Blogz Post</button></a>
        <a href='/logout'><button class='help'>Log Out</button></a>
        {% endif %}
    </nav>


{% block content %}
b
{% endblock %}


<footer style="color: steelblue; font-size: 12px; font-style: initial;">&#169 Designed by: Thomas Lake</footer>
</body>
</html>