<!doctype html>
<html>

    <head>
        
        <link rel="stylesheet" type= "text/css" href ="static/stylesheet.css"/>
       
    </head>

  
    <title class="help">Build a Blog</title>
            
<body>

                
    
        <table stlye="border-spacing:20px;">
            <tr>
            <td></td><span><a style="color:limegreen; font-size: 18px" href="/blog"> Main Blog Page</a></span></td>
            </tr>
            <tr>    
            <td></td><span><a style="color: magenta; font-size: 18px; margin-left: 50px;" href="/newpost">Add a New Blog Entry </a></span></td>

            </tr>   
    </table>
        
    <img class="horse" src="static/images/Blog-image1.jpg" alt="Blog spelled in letters"/>

    {% with messages = get_flashed_messages() %}
    <ul>
    {% for message in messages %}
    <li class="error">{{message}}</li>
    {% endfor %}
    </ul>

    {% endwith %}

{% block content %}

{% endblock %}
<footer style="color: steelblue; font-size: 12px; font-style: initial;">&#169 Thomas Lake</footer>
</body>
</html>