{% extends "base.html" %}


{% block content %}
   
    <h1 class=dog>All Blogz Entries</h1>

        {% if blogs|length == 0 %}

        <p class='help'>No Blog Posts<a href='/newpost'>Make one now!</a></p>

        {% else %}

        {% for blog in blogs %}

            <p class="newposttitle" <a href="./blog?id={{blog.id}}">{{blog.title}}</a></p>
            <p class='help'>Written on {{blog.date_written}}</p>    
            </hr>  
            <p class="newpostbody">{{ post.body }}</p>
            <p class = 'help'> Written by:
                    <a href='/singleuser?id={{blog.user_id}}'>{{blog.user}}</a>
                </p>
            </hr>
        {% endfor %}

        {% endif %}

    
{% endblock %}