{% extends "base.html" %}


{% block content %}
   
    <h1 class=dog>All Blogz Entries</h1>

        {% if blogs|length == 0 %}

        <p class='help'>No Blog Posts <a href='/newpost'> Make one now!</a></p>

        {% else %}

            {% for blog in blogs %}
            <table rules='rows'>
                <tr>
                <th class="newposttitle" <a href="./onepost?id={{blog.id}}">{{blog.title}}</a></th>
                </tr>
                <tr>
                <td class='date'>Written on {{blog.date_written}}</td>    
                </tr>
            </table>
                <p class="newpostbody">{{ blog.body }}</p>
                <p class='nauth'> Written by:
                        <a href='/singleuser?id={{blog.user_id}}'>{{blog.user}}</a>
                </p>
                </hr>
            {% endfor %}

        {% endif %}

    
{% endblock %}