{% extends "base.html" %}

{% block content %}

<h1 class=dog>Blog Entries by {{posts_for}}</h1>

    {% if posts|length == 0 %}

    <p class='help'>No Blog Post have been entered</p>

    {% else %}

               
        {% for post in posts %}

            <a class = 'help' href='./blog?id={{post.id}}'>
                <h3>{{post.title}}</h3>
            </a>
            <p class='help'>{{post.body}}</p>
            <p class = 'help'> Written by:
                <a href='/blog?user={{post.owner.id}}'>{{post.owner.email}}</a>
            </p>
        </hr>

        {% endfor %}


{% endif %}

{% endblock %}

