
{% extends "base.html" %}

{% block content %}

    <h1>Make a New Blog Entry</h1>
    <form method='POST'>

        <table>
            <td>
                <tr>
                    <label>Title of your New Blog</label>
                    <input type="text" name="title" />
                </tr>
            </td>
            <td>
                <tr>
                    <label>Enter your Blog here</label>
                    <input type='text' name='body' />
                </tr>
            </td>
        </table>
        <input type='submit' value='Add Entry' />

    </form>
    {% endblock %}