{% extends "base.html" %}

{% block content %}


    <h1 class="dog">Make a New Blog Entry</h1>
    <form action="/newpost" method='POST'>


        <p><label class='help'>Title of your New Blog:</label>
        <input class="newposttitle" type="text" name="title" value={{title}}></p>
        
        <br>
        <p><label class="help">Enter your Blog here:</label></p>
        <textarea class='newpostbody' rows='10' cols='50' type='text' name='body'>{{body}}</textarea>
       
        </br>
        <input class='help'  type='submit' value='Add Entry'/>

    </form>
{% endblock %}