{% extends "base.html" %}

{% block content %}

    <h1 class="help">Make a New Blog Entry</h1>
    <form action="/newpost" method='POST'>


        <p><label class='label1'>Title of your New Blog:</label>
        <input class="newposttitle" type="text" name="title" value={{title}}></p>
        
        <br>
        <p><label class="label1">Enter your Blog here:</label></p>
        <textarea class='newpostbody' rows=130, maxlength="260" type='text' name='body'>{{body}}</textarea>
       
        </br>
        <input class='submit1'  type='submit' value='Add Entry'/>

    </form>
{% endblock %}