{% extends "base.html" %}

{% block content %}

<h1 class='dog'>Register Your Account</h1>

<form action="/register" method='POST'>
    <label class='help'>Username</label>
    <input type=text name=name value="{{name}}"/>
</br>
</br>
    <label class='help'>Password</label>
    <input type="password" name='password'/>
</br>
</br>
    <label class='help'>Verify Password</label>
    <input type='password' name='verify_password'>
</br>
</br>
    <input class='help' type="submit" value='Register'/>

</form>

{% endblock %}